<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"

       default-init-method="init"
       default-destroy-method="destroy"
>




    <bean id="singletonBean"
          class="com.devmind.curs5.MyBean"
          scope="singleton"
          >
    </bean>

    <!-- Bean echivalent cu cel anterior -->
    <bean id="alsoSingletonBean"
          class="com.devmind.curs5.MyBean">
    </bean>

    <!-- Bean cu scope-ul prototype -->

    <bean id="prototypeBean"
          class="com.devmind.curs5.MyBean"
          scope="singleton"
          init-method="performInitialization"
          destroy-method="performDestruction">
    </bean>
    <bean id="task"
          class="com.devmind.tema.Task"
          scope="prototype"
          init-method="init"
          destroy-method="destroy">
    </bean>
</beans>